<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Home</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- Rocket Elevators Theme-->
		<link href="assets/css/rocket-theme.css" rel="stylesheet" type="text/css"/>
		<link href="assets/css/mobilechanges.css" rel="stylesheet" type="text/css"/>

	</head>

	<body class="smoothscroll enable-animation" data-spy="scroll" data-target=".navbar">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix" style="border-bottom: 1.25px solid blue">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/images/LOGO_top_of_page.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="#services">
											SERVICES
										</a>
									</li>
									<li><!-- WORK -->
										<a href="#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

			<!-- REVOLUTION SLIDER -->
			<div id="home" class="slider fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="" style="border-bottom:1.75px solid red;">
					<ul class="hide">
					
						<!-- SLIDE 1 Link to submission form and service offers -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="500"  data-saveperformance="off" data-title="Main" >
							<!-- MAIN IMAGE -->
							<img class="responsive" src="assets/images/BCKGRND_slide1.jpeg" alt="cover image"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:55px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                                    Going Up? <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="200" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									If you've ever dreamt of owning a new elevator that literally takes you higher, <br />
									our team is the best in this field.
							</div>

							<div id="button-services" class="tp-caption sfb tp-resizeme responsive"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div id ="button-getquote" class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="300" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                                <div><a class="btn btn-danger btn-lg" href="quote.html"><i class="fa fa-rocket"></i>GET A QUOTE </a></div>
							</div>
                        </li>

                        <!-- SLIDE 2 promotion of residential services and link to residential page -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Architectural View">
							<!-- MAIN IMAGE -->
							<img src="assets/images/SLIDE_2_residential.jpg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="overlay dark-5"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:55px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Elevators for everyone
							</div>
							

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="75"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Explore our wide and exciting range of residential options today!
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="75"
								data-y="250" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="residential.html"><i class="fa fa-home"></i> FIND OUT MORE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
							
						</li>
                        
                        <!-- SLIDE 3 promotion of corporate services and link to corporate page -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Third SLide">
							<!-- MAIN IMAGE -->
							<img src="assets/images/BCKGRND_slide3.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:55px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Elevate your business
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="200" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Our elevators will never break down, <br />
									so your employees will have no more excuses for being late!
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary btn-lg" href="commercial.html"><i class="fa fa-building"></i>EXPLORE CORPORATE SOLUTIONS &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->
			<!--
            <hr class="m-0" /> 1px line separator -->
			<!-- SERVICES -->

			<section id="services" class="rckt-section">
					<div class="heading-title heading-dotted text-center">
							<h2 class="section-title" >Services</h2>
						</div>
				<div class="container text-left">

					<div class="row">
							<div class="col-sm-4">
									<img src="assets/images/MID_details.jpeg" alt="product image" class="responsive" width="100%" style="border: 1px solid blue;"/>
									<h3 class="fw-200" style="line-height:0.75px; margin-top:22px; margin-bottom: 18px;">Who <span style="margin-bottom:50px">Are We?</span></h3>
							<hr class="hr-red"/>
							<p>Rocket Elevators has won numerous awards and has been recently featured in an episode of TLC's <i>Best Elevators of The World.</i></p>
							<p>We are always striving to reach that next level.</p>
							<a class="btn btn-outline-dark btn-lg" href="#portfolio">See just how awesome we are &nbsp; <i class="fa fa-angle-right"></i></a>
                            <hr />
                            </div>
		
						<div class="col-sm-4">
								<h3 style="line-height:1px; margin-bottom:25px;">Commercial</h3>
								
							<img src="assets/images/SERVICES_COMMERCIAL.jpeg" alt="product image" class="responsive" width="100%" style="border: 1px solid red;"/>
							<p style="margin-top:15px;">Rocket your office or business! Our amazing commercial line is available at cost-efficient prices. Ask about our affiliation deals. </p>
							<a class="btn btn-outline-primary btn-lg" href="commercial.html"><i class="fa fa-building"></i>Explore corporate solutions &nbsp; <i class="fa fa-angle-right"></i> </a>
							
						</div>

						<div class="col-sm-4">
								<h3 style="line-height:1px; margin-bottom:25px;">Residential</h3>
								<img src="assets/images/SERVICES_residential.jpg" alt="product image" class="responsive" width="100%" style="border: 1px solid blue;"/>
                            <p style="margin-top:15px;">We want to lift you up! We offer great options for residential applications. Be the envy of your friends by being the only owner of a Rocket Residential elevator.</p>
                            <a class="btn btn-outline-danger btn-lg" href="residential.html"><i class="fa fa-home"></i>Residential products &nbsp;<i class="fa fa-angle-right"></i> </a>
                           
                            
							</ul>

						</div>
					</div>

				</div>
			</section>

			<!-- Company History/Contact -->
            <section class="parallax parallax-1 section-full-width" style="background-image: url('assets/images/BCKGRND_mid_parallax.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
                        <h2 id="demo" class="fs-40 fw-300">Elevating the masses since 1976</h2>
						<a class="btn btn-danger btn-lg" href="quote.html"><i class="fa fa-rocket"></i>GET A QUOTE </a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-primary btn-lg" href="#contact"><i class="fa fa-envelope"></i>CONTACT US</a>
					</div>

				</div>
			</section>

			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2 class="section-title">Our Accomplishments</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-40">
							<li data-filter="all" class="filter active rocket-all"><a href="#">All</a></li>
							<li data-filter="awards" class="filter rocket-awards"><a href="#">Awards</a></li>
							<li data-filter="specialprojects" class="filter rocket-projects"><a href="#">Special Projects</a></li>
						</ul>
					</div>
				</div>

				<div id="portfolio" class="portfolio">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="awards-overlay overlay dark-5"></span>
											<span class="inner">
												<!-- lightbox -->
												<h6 style="color:white">Why else would we be called Rocket Elevators? </h6>
											</span>
										</span>

										<img class="img-fluid" src="assets/images/AWARD_speed.png" height= "399" width="600" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Fastest Elevator on Earth</h3>
										<h6>High Speed Magazine, 2016</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 awards-overlay"></span>
											<span class="inner">

												<!-- lightbox -->
												<h6 style="color:white">Composed by Hans Zimmer.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/AWARD_music.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Best Elevator Music</h3>
										<h6>Rolling Stone Magazine, 2018</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

												<h6 style="color:white">Keanu Reeves has been inside us.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_speed.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Speed (1994)</h3>
										<h6>Featured</h6>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

												<h6 style="color:white">It'll totally happen, don't worry.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_moon.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3 style="color:darkgoldenrod">UNDER CONSTRUCTION: </h3>
										<h3>Moon Elevator</h3>
										<h6>Estimated completion mid-to-late 2045</h6>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 awards-overlay"></span>
											<span class="inner">

												<h6 style="color:white">Studies show that 8 out of 10 people would <br>prefer to be stuck in a Rocket Elevator.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/AWARD_trapped.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Most Enjoyable Elevator to be Trapped In</h3>
										<h6>Elavator Association of Canda, 2018</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 awards-overlay"></span>
											<span class="inner">

													<h6 style="color:white">The tallest building in the world needs to have the tallest elevator in the world to operate! </h6>
											</span>
										</span>

										<img class="img-fluid" src="assets/images/AWARDS_wr.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>World's Longest Elevator</h3>
										<h5>(Burj Khalifa, 828m)</h5>
										<h6>Guiness World Records, 2010</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

												<h6 style="color:white">The master choclatier himself uses Rocket Elevators!</h6>
											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_ww.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Wonka Candy Company</h3>
										<h6>Exclusive elevator supplier since 1970s</h6>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

													<h6 style="color:white">Okay we admit it, we only took this contract so we could get that world record.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_bk.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Burj Khalifa</h3>
										<h6>Constructed in 2010</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

													<h6 style="color:white"><i>this text replaces the original text, which has been redacted for reasons of national security.</i></h6>
											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_gp.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>UNNAMED GOVERNMENT PROJECT</h3>
										<h6>Undisclosed location</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

													<h6 style="color:white">We love doing special projects like this! If you can imagine it, we can build it.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_fe.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Really Cool Cliff Elevator</h3>
										<h6>China, 2018</h6>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix specialprojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 projects-overlay"></span>
											<span class="inner">

												<h6 style="color:white" >We had to design an elevator that went horizontal as well as vertical! Only our great team of researchers was able to deliver this masterpiece.</h6>

											</span>
										</span>

										<img class="img-fluid" src="assets/images/PROJECTS_tt.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Tower of Terror</h3>
										<h6>Constructed in 1994</h6>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5 awards-overlay"></span>
											<span class="inner">

													<h6 style="color:white" >Our elevators are so great, we even won a dog show. We still don't really know how.</h6>


											</span>
										</span>

										<img class="img-fluid" src="assets/images/AWARDS_ds.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc rocket-captions">
										<h3>Best in Show</h3>
										<h6>Westminster Kennel Club Dog Show, 2016</h6>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->

			<!-- CEO -->
            <section id = "CEO" class="section-full-width section-xs dark">
                        <div class="container">
        
                            <div class="owl-carousel text-left owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 45000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
                                    <div class="row text-left">
                
                                            <div class="col-md-auto">
                                                    <h3 class="fw-300">Our <span>Great Leader</span></h3>
                                                    <img style="border: 1px solid red;" src="assets/images/CEO.jpeg" alt="CEO image" width="175"/>
                                                    <p>Mathieu Lefrancois, CEO</p>
                                            </div>
                    
                                            <div class="col text-left">
												<hr />
                                                <h3 class="fw-300"><i>A life lifting others</i></h3>
                                            
                                                <p>Ever since he was a young boy, Mathieu had a bizarre fascination with Elevators. When his parents asked him what he wanted for his 6th birthday, Mathieu said he wanted a 3-person pulley-rigged manually operated people mover installed in his family home. When his parents didn't deliver this request, he vowed from that day forth to build an elevator empire, to provide safe and affordable elevators to all.</p>
                                                <p>Today, that disappointed 6-year-old has grown up to become a worldwide leader and unstoppable force in the Elevator world. </p>
												<hr/>
                                            </div>
                                    </div>
                                    <div class="row text-left">
                    
                                            <div class="col text-left">
                                                <h3 class="fw-300"><i>It <strong><b>is</b></strong> rocket science!</i></h3>
												<hr/>
                                                <p>Previous Employee of the Month winner for 24 consecutive months, Eric is originally a rocket scientist from NASA, whose passion for all things fast and safe led him to find meaning working for Rocket Elevators. He has been using his vast knowledge of propulsion systems and spending long hours locked away in his lab conducting deep research. His dedicated team of researchers is in the process of developing and testing the most advanced Elevator technology on the market.</p>
												<p>He intends to be back next month!</p>
												<hr/>
                                            </div>
                                            <div class="col-md-auto">
                                                    <h3 class="fw-300">Employee <span>of the Month</span></h3>
                                                    <img style="border: 1px solid red;" src="assets/images/EMPLOYEE.jpg" alt="EMPLOYEE image" width="175"/>
                                                    <p>Eric Gow, Employee</p>
                                            </div>
                                    </div>
                            </div>
        
                        </div>
            </section>
            <!-- /CEO -->

            <!-- News -->
			<section id="news">
                    <div class="container">
    
                        <div class="heading-title heading-dotted text-center">
                            <h2 class="section-title">News</h2>
                        </div>
    
                        <!-- 
                            controlls-over		= navigation buttons over the image 
                            buttons-autohide 	= navigation buttons visible on mouse hover only
                            
                            data-plugin-options:
                                "singleItem": true
                                "autoPlay": true (or ms. eg: 4000)
                                "navigation": true
                                "pagination": true
                                "items": "4"
    
                            owl-carousel item paddings
                                .owl-padding-0
                                .owl-padding-3
                                .owl-padding-6
                                .owl-padding-10
                                .owl-padding-15
                                .owl-padding-20
                        -->
                        <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 6000, "navigation": true, "pagination": false}'>
                            <div class="img-hover">
                                <img class="img-fluid news-item-blue" src="assets/images/NEWS_stairs.png" alt="">
                                <h4 class="text-left mt-20"><a>Rocket Elevators: Safer than stairs?</a></h4>
                                <p class="text-left">New research has emerged from the CSST which appears to prove that Rocket Elevators are in fact safer than taking the stairs...</p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        29th Jan 2017
                                    </li>
                                    <li>
										<i class="fa fa-comments" style="color:blue" ><strong> 53</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 23</strong></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-hover">
                                <img class="img-fluid news-item-red" src="assets/images/NEWS_elon.png" alt="">
                                <h4 class="text-left mt-20">Elon Musk: 'Rocket Elevators are the best'</h4>
                                <p class="text-left">In a recent press release, technology entrepeneur Elon Musk stated that he prefers using Rocket Elevators when... </p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        4th Apr 2016
                                    </li>
                                    <li>
											<i class="fa fa-comments" style="color:blue" ><strong> 40</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 22</strong></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-hover">
                            
                                    <img class="img-fluid news-item-blue" src="assets/images/NEWS_moon.png" alt="">
    
                                <h4 class="text-left mt-20"><a >Rocket To The Moon</a></h4>
                                <p class="text-left">Rocket Elevators has announced that they will soon begin construction on an elevator that will take passengers to the moon...</p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        14th Oct 1999
                                    </li>
                                    <li>
											<i class="fa fa-comments" style="color:blue" ><strong> 108</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 99</strong></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-hover">
                               
                                <img class="img-fluid news-item-red" src="assets/images/NEWS_eleva.png" alt="">
                            
                                <h4 class="text-left mt-20"><a>Elevator company earnings ranked, 2018</a></h4>
                                <p class="text-left">Rocket Elevators has come out on top again as the highest-earning elevator company in North America, beating out Kone and ThyssenKrupp for the...</p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        2nd Jan 2019
                                    </li>
                                    <li>
											<i class="fa fa-comments" style="color:blue" ><strong> 12</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 55</strong></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-hover">
                            
                                    <img class="img-fluid news-item-blue" src="assets/images/NEWS_gov.png" alt="">
            
                                <h4 class="text-left mt-20"><a>Rocket Elevators takes secret government contract</a></h4>
                                <p class="text-left">In a rare public appearance yesterday, CSIS leader John Hamre announced they will be pairing up with local elevator company for a super-secret project...</p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        14th Mar 2015
                                    </li>
                                    <li>
											<i class="fa fa-comments" style="color:blue" ><strong> 44</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 32</strong></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="img-hover">
                               
                                    <img class="img-fluid news-item-red" src="assets/images/NEWS_hp.png" alt="">
                            
                                <h4 class="text-left mt-20"><a>Hogwarts to Finally Install Elevators</a></h4>
                                <p class="text-left">Citing many recent issues concerning student safety, headmaster Dumbledore has decided to remove the dangerous moving staircases and replace them with Rocket Elevators...</p>
                                <ul class="text-left fs-12 list-inline list-separator">
                                    <li>
                                        <i class="fa fa-calendar"></i> 
                                        20th Sep 2017
                                    </li>
                                    <li>
											<i class="fa fa-comments" style="color:blue" ><strong> 1.1k</strong></i><i class="fa fa-thumbs-up" style="color:red" ><strong> 2.7k</strong></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                    </div>
            </section>
            <!-- /News -->

            <!-- CUSTOMERS -->
			<section id="clients">
                    <div class="container">
                        <div class="heading-title heading-dotted text-center">
                            <h2 class="section-title">Our Proud Customers</h2>
                        </div>
    
                        <ul class="row clients-dotted list-inline">
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="image-fluid" src="assets/images/CLIENTS_1.png" alt="client" width="100%" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_2.png" alt="client" width="100%" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_3.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_4.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_5.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_6.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_7.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_8.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_9.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_10.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_11.png" alt="client" />
                            </li>
                            <li class="col-md-3 col-sm-3 col-6">
                                    <img class="img-fluid" src="assets/images/CLIENTS_12.png" alt="client" />
                            </li>
                                
                        </ul>
    
                    </div>
			</section>
			
			<!-- CONTACT -->
			<section id="contact" style="background-image: url('assets/images/M.jpg');">
				<div class="container overlay-contact-form overlay dark-7 border border-primary" style="padding:2%">
					<header class="text-center">
						<h2 style="color:#fff">Contact Us</h2>
						<hr color= "red"/>
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h4 style="color:#fff">Drop us a line</h4>


							<form enctype="multipart/form-data">
								<fieldset>

									<div class="row">
											<div class="col-md-4">
												<label style=color:white;font-size:14px>Full Name *</label>
												<input required type="text" value="" class="form-control  border border-primary" name="contact[name][required]" id="contact:name">
											</div>
											<div class="col-md-4">
												<label style=color:white;font-size:14px for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control  border border-primary" name="contact[email][required]" id="contact:email">
											</div>
											<div class="col-md-4">
												<label style=color:white;font-size:14px for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control  border border-primary" name="contact[phone]" id="contact:phone">
											</div>
									</div>
									<div class="row">
											<div class="col-md-8">
												<label style=color:white;font-size:14px>Company Name *</label>
												<input required type="text" value="" class="form-control border border-primary" id="contact:companyname">
											</div>
											<div class="col-md-4">
												<label style=color:white;font-size:14px >Department</label>
												<select class="form-control pointer border border-primary">
													<option value="">--- Select ---</option>
													<option value="Marketing">Marketing</option>
													<option value="Webdesign">Webdesign</option>
													<option value="Architecture">Architecture</option>
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-6">
												<label style=color:white;font-size:14px for="contact:projectname">Project Name *</label>
												<input required type="text" value="" class="form-control border border-primary" id="contact:projectname">
											</div>
											<div class="col-md-6">
													<label style=color:white;font-size:14px for="contact:elevatordescription">Elevator description *</label>
													<input required type="text" value="" class="form-control border border-primary" id="contact:elevatordescription">
												</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label style=color:white;font-size:14px for="contact:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control border border-primary" id="contact:message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label style=color:white;font-size:14px for="contact:attachment">Plan attachment</label>

												<!-- custom file upload -->
												<input disabled = "true" class="custom-file-upload border border-primary" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-primary" disabled="true"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->

						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h4 style="color:#fff">Visit Us</h4>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<img class="img-fluid border border-danger" src="assets/images/MAP.png" alt="">

							<hr />

							<p>
								<span class="block" style="color: rgb(255, 22, 22);" ><strong style="color: white;"><i class="fa fa-map-marker"></i> Address:</strong> 725 Boulevard Lebourgneuf</span>
								<span class="block"><strong style="color: white;"><i class="fa fa-phone"></i> Phone:</strong> <a style="color: rgb(128, 126, 252);">(418) 580-7055</a></span>
								<span class="block"><strong style="color: white;"><i class="fa fa-envelope"></i> Email:</strong> <a style="color: rgb(255, 22, 22);">sales@elevatorpropulsionlabs.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container" >
					<div class="row" >

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 style="margin-bottom: 5px;" class="letter-spacing-1">WHY US?</h3>
							<hr color="red"/>

							<!-- Small Description -->
							<p>
								Well, did you not read the site? We are awesome and our elevators are awesome and you should recognize it. 
							</p>
							<h3 style="margin-bottom:5px; font-weight:100;">(418) 580-7055</h3>
							<h5 style="margin-bottom:2px; font-weight:150;">725 Boulevard Lebourgneuf, unit 418 </h5>
							<h6 style="margin-bottom:2px; font-weight:150;">Quebec City, G2J 0C4</h6>
							<h6 style="font-weight:200;">Canada</h6>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit" disabled="true">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="404.html">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="404.html">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators, 2019
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->
		</div>
		<!-- /wrapper --> 
		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/rocket_elevators.js"></script>

	</body>
</html>